@font-face {
    font-family: "Gilam";
    src: url(../Fonts/GilamRegular.otf);
    src: url(../Fonts/GilamSemiBold.otf);
    font-weight: normal;
        font-style: normal;
}

body{
    font-family: "Gilam";
    background-color: #171717;
    padding-top: 50px;
}

h2{
    color: #FFF;
        font-family: Gilam;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        padding-bottom: 30px;
}

a {
    text-decoration: none;
    border: 1px solid #E4B564;
}

a:link {
    color: #E4B564;
}

a:visited {
    color: #E4B564;
}


.container{
width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: block;
    box-sizing: border-box;
    background-color: #171717;
}


.header-section{
    display: flex;
    box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;
        
}


.logo{
    align-items: start;
 
}

.contact-us {
    align-items: center;
}

.description-top{
    color: #FFF;
        font-family: Gilam;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
}

.top-section-header{
    margin-bottom: 20px;
}


.top-grid{
    display: grid;
    height: 700px;
    width: 1180px;
       /*  height: 234px;
        width: 234px;
        grid-template-areas:
        "block-1 block-1 block-2 block-2 block-3 block-3"
        "block-4 block-4 block-4 block-5 block-5 block-5" */

            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 24px;
            grid-row-gap: 24px;
            padding-bottom: 50px
       
          
}

.block-1,
.block-2,
.block-3,
.block-4,
.block-5{
    display: flex;
        justify-content: center;
        align-items: center;
}



.block-1{
    background-color: #634F2C;
    /* grid-area: block-1; */
grid-area: 1 / 1 / 3 / 3;
}

.block-2{
    background-color: #B4A385;
    /* grid-area: block-2; */
grid-area: 1 / 3 / 3 / 5;
}

.block-3 {
    background-color: #E4B564;
    /* grid-area: block-3; */
grid-area: 1 / 5 / 3 / 7;
}

.block-4 {
    background-color: #635A4A;
    /* grid-area: block-4; */
grid-area: 3 / 1 / 5 / 4;
}

.block-5 {
    background-color: #B08C4D;
    /* grid-area: block-5; */
grid-area: 3 / 4 / 5 / 7;
}

.top-block{
color: #FFF;
    font-family: Gilam;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}


.middle-block{

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            color: #FFF;
            height: 700px;
            width: 1180px;
            font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
               /*  text-align: center; */
}

.block-6 {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #0E0E0E;
}

.block-7 {
    grid-area: 3 / 1 / 7 / 2;
    background-color: #1f1f1f;
}

.block-8 {
    grid-area: 1 / 2 / 4 / 3;
    background-color: #242424;
}

.block-9 {
    grid-area: 4 / 2 / 7 / 3;
    background-color: #E4B564;
}

.block-10 {
    grid-area: 1 / 3 / 3 / 4;
    background-color: #1f1f1f;
}

.block-11 {
    grid-area: 3 / 3 / 5 / 4;
    background-color: #0E0E0E;
}

.block-12 {
    grid-area: 5 / 3 / 7 / 4;
    background-color: #0A0909;
}





.block-6,
.block-7,
.block-8,
.block-9,
.block-10,
.block-11,
.block-12
{
    /* display: flex;
        justify-content: center;
        align-items: center; */

padding-left: 20px;
padding-top: 20px;
    }


.middle-section{
    padding-bottom: 50px;
}

.vehicle{
    color: #000;
}

.bottom-section {
    background-color: #0E0E0E;
    padding-top: 50px;
}


.black-bg{
    background-color: #0E0E0E;
}

.clients-description-title {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

}


.client-title {
    align-items: start;

}

.all-projects-link {
    align-items: center;
    width: 120px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
justify-content: center;
display: flex;
}


.client-blocks{
    display: flex;
        flex-wrap: wrap;
}


.client-1 {

    width: 33%;
    height: 391px;
    background: #634F2C;
    flex-shrink: 0;
}

.client-2 {



    width: 33%;
    height: 391px;
    background: #E8D2ABC2;
    flex-shrink: 0;
}

.client-3 {
    width: 33%;
    height: 391px;
    background: #E4B564;
    flex-shrink: 0;
}

.client-4 {
    width: 33%;
    height: 391px;
    background: #635A4A;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.client-5 {
    width: 33%;
    height: 391px;
    background: #B08C4D;
    flex-shrink: 0;
}

.client-6 {
    width: 33%;
    height: 391px;
    background: #634F2C;
    flex-shrink: 0;
}


.client-text {

    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 127.273% */
}


.client-1,
.client-3,
.client-4,
.client-5,
.client-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-intro {
    display: inline-block;
    text-align: center;
    padding: 60px 60px 0;
    ;
}

    .picture {
        margin-bottom: 10px;
    }






footer {
    width: 100%;
    height: 200px;
    background: #171717;
}